<section class="footer">
  <div class="container">
    <div class="footer__inner_wrap">
      <div class="footer__logo_block">
        <div class="footer__logo_wrapper">
          <img class="footer__logo" src='assets/logo_white.svg' alt='logo white color'>
        </div>
        <p class="footer__description">Free Cloud Infrastructure is not a science fiction, it's a reality.</p>
      </div>
      <div class="footer__nav">
        <div class="footer__about">
          <h3 class="footer__title">About us</h3>
          <ul>
            <li>Pricing</li>
          </ul>
        </div>
        <div>
          <h3 class="footer__title">Social</h3>
          <ul>
            <li class="footer__icon_wrapper">
              <svg class="footer__icon" viewBox="0 0 30 30">
                <use xlink:href="assets/symbol_sprite.svg#linkedin"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
