<li class="col-lg-4 card card--second">
 <div class="card__pre_title_wrapper">
   <p class="card__pre_title card__pre_title--second">Most popular</p>
 </div>
  <div class="card__price">
    <div class="card__price_wrapper">
      <span class="card__price--per_item">$1</span>
      <div>
        <p class="card__price--item">/month</p>
        <p class="card__price--item">/1CPU</p>
      </div>
    </div>
    <div class="card__price_wrapper--cluster">
      <p class="card__price--per_item">$10</p>
      <p class="card__price--item">/cluster</p>
    </div>
  </div>
  <h3 class="card__title">Company</h3>
  <p class="card__after_title">Automation plus enterprise-grade features.</p>
  <ul class="card__advantages_list card__advantages_list--second">
    <li class="card__advantages_item">
      <div class="card__icon_wrapper">
        <svg class="card__icon" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>sdadsadasds</span>
    </li>
    <li class="card__advantages_item">
      <div class="card__icon_wrapper">
        <svg class="card__icon" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>sdadsadasds</span>
    </li>
    <li class="card__advantages_item">
      <div class="card__icon_wrapper">
        <svg class="card__icon" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>sdadsadasds</span>
    </li>
  </ul>
  <div class="card__link">
    {% include '@App/components/button/button.twig' with { text: 'Choose plan', type: 'link', link: '#', class: 'button button_primary'} %}
  </div>
</li>
