<li class="col-lg-4 card card--first">
  <p class="card__pre_title card__pre_title--first">Free</p>
  <h3 class="card__title card__title--first">Commercial</h3>
  <p class="card__after_title card__after_title--first">Automation plus enterprise-grade features.</p>
  <ul class="card__advantages_list card__advantages_list--first">
    <li class="card__advantages_item">
      <div class="card__icon_wrapper card__icon_wrapper--first">
        <svg class="card__icon card__icon--first" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>sdadsadasds</span>
    </li>
    <li class="card__advantages_item">
      <div class="card__icon_wrapper card__icon_wrapper--first">
        <svg class="card__icon card__icon--first" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>sdadsadasds</span>
    </li>
    <li class="card__advantages_item">
      <div class="card__icon_wrapper card__icon_wrapper--first">
        <svg class="card__icon card__icon--first" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>sdadsadasds</span>
    </li>
  </ul>
  <div class="card__link">
    {% include '@App/components/button/button.twig' with { text: 'Use for free', type: 'link', link: '#', class: 'button button_primary'} %}
  </div>
</li>
