<li class="col-lg-4 card card--third">
  <p class="card__pre_title card__pre_title--third">Contact for pricing</p>
  <h3 class="card__title card__title">Enterprise</h3>
  <p class="card__after_title card__after_title--third">Everything in Pro, plus:</p>
  <ul class="card__advantages_list card__advantages_list--third">
    <li class="card__advantages_item">
      <div class="card__icon_wrapper">
        <svg class="card__icon" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>Unlimited Clusters</span>
    </li>
    <li class="card__advantages_item">
      <div class="card__icon_wrapper">
        <svg class="card__icon" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>Up to 200 Nodes/cluster</span>
    </li>
    <li class="card__advantages_item">
      <div class="card__icon_wrapper">
        <svg class="card__icon" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>SSO, RBAC support</span>
    </li>
    <li class="card__advantages_item">
      <div class="card__icon_wrapper">
        <svg class="card__icon" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>Gold support</span>
    </li>
    <li class="card__advantages_item">
      <div class="card__icon_wrapper">
        <svg class="card__icon" viewBox="0 0 19 16">
          <use xlink:href="assets/symbol_sprite.svg#check"></use>
        </svg>
      </div>
      <span>Dedicated onboarding</span>
    </li>
  </ul>
  <div class="card__link">
    {% include '@App/components/button/button.twig' with {
      text: 'Contact us',
      type: 'button',
      typeButton: 'button',
      class: 'button_primary button--border js--to_stay_tunned'
    } %}
  </div>
</li>
