<div class='first_block'>
  <div class='container'>
    <div class='first_block__main'>
      <div class='first_block__description'>
        <h2 class='first_block__title'>
          <span>Free Cloud Infrastructure</span>
          is not a science fiction,
          it's reality
        </h2>
        <p class='first_block__text'>
          With Crowd Cloud by cuest.io you run your cloud native workloads for free
        </p>
        <div class='first_block__button_container'>
          {% include '@App/components/button/button.twig' with {
            text: 'Request a demo',
            type: 'link',
            link: '#js--stay_tunned',
            class: 'button_primary js--to_stay_tunned'
          } %}
        </div>
      </div>
      <div class='first_block__image_container'>
        <img src='assets/main.png' alt='main' class='first_block__image'>
      </div>
    </div>
    <ul class='first_block__info info'>
      <li class='info__item'>
        <div class='info__item_image_container'>
          <img src='assets/info_icon_1.png' alt='info_icon_1' class='info__item_image'>
        </div>
        <h3 class='info__item_title'>
          No pay-as-you-go
        </h3>
        <p class='info__item_description'>
          Use Crowd Cloud by cuest.io for a fixed monthly fee. Small teams enjoy for free forever
        </p>
      </li>
      <li class='info__item'>
        <div class='info__item_image_container'>
          <img src='assets/info_icon_2.png' alt='info_icon_2' class='info__item_image'>
        </div>
        <h3 class='info__item_title'>
          No private data centres
        </h3>
        <p class='info__item_description'>
          Crowd Cloud enables you to maximize your company's exisitng compute power without the users to notice
        </p>
      </li>
      <li class='info__item'>
        <div class='info__item_image_container'>
          <img src='assets/info_icon_3.png' alt='info_icon_3' class='info__item_image'>
        </div>
        <h3 class='info__item_title'>
          No upfront investment
        </h3>
        <p class='info__item_description'>
          With Crowd Cloud you enjoy the extra capacity with zero development effort or hardware investment
        </p>
      </li>
    </ul>
    </div>
</div>
