<div class='second_block'>
  <div class='container'>
    <h2 class='second_block__title'>
      Turn your company's workstations and laptops into Cloud VMs
    </h2>
    <div class='second_block__description_cards'>
      <div class='description_card'>
        <div class='description_card__image_container'>
          <img src='assets/cloud.png' alt='description_image_1' class='description_card__image'>
        </div>
        <div class='description_card__text'>
          <h3 class='description_card__title'>Any Cloud</h3>
          <p class='description_card__description'>Can run with Public, Hybrid and Private Cloud environments</p>
        </div>
      </div>
      <div class='description_card description_card_big'>
        <div class='description_card__image_container'>
          <img src='assets/lightning.png' alt='description_image_1' class='description_card__image'>
        </div>
        <div class='description_card__text'>
          <h3 class='description_card__title'>Promise To Run</h3>
          <p class='description_card__description'>Makes sure the free infrastructure is used first, then move the remaining workloads to the Cloud
            of your choice</p>
        </div>
      </div>
      <div class='description_card'>
        <div class='description_card__image_container'>
          <img src='assets/hands.png' alt='description_image_1' class='description_card__image'>
        </div>
        <div class='description_card__text'>
          <h3 class='description_card__title'>Easy Adoption</h3>
          <p class='description_card__description'>Plugs in into any existing Kubernetes cluster</p>
        </div>
      </div>
    </div>
  </div>
</div>
