<div class='second_block'>
  <div class='container'>
    <h2 class='second_block__title'>
      Turn your company's latent workstations and laptops into Cloud VMs
    </h2>
    <div class='second_block__description_cards'>
      <div class='description_card'>
        <div class='description_card__image_container'>
          <img src='assets/cloud.png' alt='description_image_1' class='description_card__image'>
        </div>
        <div class='description_card__text'>
          <h3 class='description_card__title'>Any Cloud</h3>
          <p class='description_card__description'>Optimize the costs of running with Public, Hybrid or Private Cloud. Reduce the dependendcy on compute power availability</p>
        </div>
      </div>
      <div class='description_card description_card_big'>
        <div class='description_card__image_container'>
          <img src='assets/lightning.png' alt='description_image_1' class='description_card__image'>
        </div>
        <div class='description_card__text'>
          <h3 class='description_card__title'>Promise To Run</h3>
          <p class='description_card__description'>Free infrastructure is used first, the remaining workloads run on the Cloud of your choice</p>
        </div>
      </div>
      <div class='description_card'>
        <div class='description_card__image_container'>
          <img src='assets/hands.png' alt='description_image_1' class='description_card__image'>
        </div>
        <div class='description_card__text'>
          <h3 class='description_card__title'>Easy Adoption</h3>
          <p class='description_card__description'>
              Plug in into any existing Kubernetes cluster, giving you the flexibility to chose which existing workload will run on a free hosting 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
