<section class="contact_us">
  <div class="container">
    <div class="contact_us__title_wrapper">
      <h2 class="contact_us__title" id="js--stay_tunned">Stay Tunned</h2>
      <p class="contact_us__description">Get in touch to be an early adopter and start saving on the Cloud costs</p>
    </div>
    <div class="contact_us__form_block">
      <div class="contact_us__form">
       {% include '@App/components/form/form.twig'%}
     </div>
      <div class='contact_us__img_wrapper'>
        <img src='assets/form_img.png' alt='form_img' class='contact_us__img'>
      </div>
    </div>
  </div>
</section>
