<header class='header'>
  <div class='header__container container'>
    <a href='#' class='header__logo'>
      <img src='./assets/logo.png' alt='logo'>
    </a>
    <div class='header__login_link'>
      {% include '@App/components/button/button.twig' with { text: 'Login', type: 'link', link: '#', class: 'button button_secondary'} %}
    </div>
  </div>
</header>
