<header class='header'>
  <div class='header__container container'>
    <a href='#' class='header__logo'>
      <img src='assets/logo.svg' alt='logo'>
    </a>
    <div class='header__login_link'>
      {% include '@App/components/button/button.twig' with {
        text: 'Docs',
        type: 'link',
        link: REACT_APP_DOCS_DOMAIN,
        class: 'button button_link'
      } %}
      {% include '@App/components/button/button.twig' with {
        text: 'Login',
        type: 'link',
        link: REACT_APP_CONSOLE_DOMAIN,
        class: 'button button_secondary'
      } %}
    </div>
  </div>
</header>
