{% extends '@App/index.twig' %}

{% block pageName %}page--main{% endblock %}

{% block pageContent %}
  {% include '@App/blocks/header/header.twig' %}
  <div class='container'>
    <h1>Main page</h1>
    {% include '@App/blocks/subscribe/subscribe.twig' %}
  </div>
{% endblock %}
