{% extends '@App/index.twig' %}

{% block pageName %}page--main{% endblock %}

{% block pageContent %}
  {% include '@App/blocks/header/header.twig' %}

  <div class='container'>
    <h1>Main page</h1>
  </div>
  {% include '@App/blocks/first_block/first_block.twig' %}
  {% include '@App/blocks/second_block/second_block.twig' %}
  {% include '@App/blocks/subscribe/subscribe.twig' %}
{% endblock %}
