{% extends '@App/index.twig' %}

{% block pageName %}page--typography{% endblock %}

{% block pageContent %}
  <div class="accordion mt-3 container" id="accordionExample">
    <div class="accordion-item">
      <div class="accordion-header">
        <h2 class="mb-0">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4">
            Формы
          </button>
        </h2>
      </div>
      <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          -
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <h2 class="mb-0">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5">
            Preloader
          </button>
        </h2>
      </div>
      <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          -
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-header">
        <h2 class="mb-0">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6">
            Button
          </button>
        </h2>
      </div>
      <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class='mb-3 d-flex align-items-center justify-content-between'>
            <p class='me-3 mb-0'>.button_primary</p>
            <div style='width: 156px'>
              {% include '@App/components/button/button.twig' with { text: 'Try again', type: 'button', typeButton: 'button', class: 'button_primary'} %}
            </div>
          </div>
          <div class='mb-3 d-flex align-items-center justify-content-between'>
            <p class='me-3 mb-0'>.button_secondary</p>
            <div style='width: 156px'>
              {% include '@App/components/button/button.twig' with { text: 'Login', type: 'button', typeButton: 'button', class: 'button_secondary'} %}
            </div>
          </div>
          <div class='mb-3 d-flex align-items-center justify-content-between'>
            <p class='me-3 mb-0'>.disabled</p>
            <div style='width: 156px'>
              {% include '@App/components/button/button.twig' with { text: 'Login', type: 'button', typeButton: 'button', class: 'disabled'} %}
            </div>
          </div>
          <div class='mb-3 d-flex align-items-center justify-content-between'>
            <p class='me-3 mb-0'>.button_primary (link)</p>
            <div style='width: 506px'>
              {% include '@App/components/button/button.twig' with { text: 'Log in with Instagram', type: 'link', link: '#', class: 'button_primary', icon: 'instagram'} %}
            </div>
          </div>
          <div class='mb-3 d-flex align-items-center justify-content-between'>
            <p class='me-3 mb-0'>.button_secondary (link)</p>
            <div style='width: 506px'>
              {% include '@App/components/button/button.twig' with { text: 'Log in with Instagram', type: 'link', link: '#', class: 'button_secondary', icon: 'instagram'} %}
            </div>
          </div>
          <div class='mb-3 d-flex align-items-center justify-content-between'>
            <p class='me-3 mb-0'>.button_white (link)</p>
            <div style='width: 506px'>
              {% include '@App/components/button/button.twig' with { text: 'Log in with Instagram', type: 'link', link: '#', class: 'button_white', icon: 'instagram'} %}
            </div>
          </div>
          <div class='mb-3 d-flex align-items-center justify-content-between'>
            <p class='me-3 mb-0'>.disabled (link)</p>
            <div style='width: 506px'>
              {% include '@App/components/button/button.twig' with { text: 'Log in with Instagram', type: 'link', link: '#', class: 'disabled', icon: 'instagram'} %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
