<section class="subscribe">
  <div class="container">
    <div class="subscribe__title_wrapper">
      <h2 class="subscribe__title">Choose subscription plan</h2>
      <p class="subscribe__description">Choose the right subscription plan for your company and start optimizing your Cloud costs</p>
    </div>

    <ul class="subscribe__cards row g-0">
      {% include '@App/components/card/card_first.twig'%}
      {% include '@App/components/card/card_second.twig'%}
      {% include '@App/components/card/card_third.twig'%}
    </ul>
  </div>
</section>
