.sideBar{
    position: absolute;
    width: 288px;
    height: 976px;
    left: 24px;
    top: 24px;

    /* Main/White */

    background: #FFFFFF;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.04);
    border-radius: 18px;
}

.sideBarWrapper{

}

.sideBarMenu{

}

.sideBarLogo{
    height: 48px;
    margin-left: 39px;
    margin-top: 32px;
    width: 210px;
}

.sideBarList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    margin: 0em;
    position: absolute;
    width: 288px;
    height: 164px;
    left: 0px;
    top: 112px;
}

.sideBarListItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 24px;
    gap: 16px;
    cursor: pointer;
    width: 240px;
    height: 44px;
    font-family: 'Product Sans';
    font-style: normal;
    font-size: 18px;
    position: relative;
    
    /* Secondary/Gray 
    color: #979797;*/
}

.sideBarListItem:hover{
    /* Background/Blue */
    background: #F1FAFF;
}

.sideBarListTitle{
    height: 22px;
    line-height: 22px;
    /* identical to box height */
}

.sideBarImage{
    height: 24px;
    margin-bottom: -6px;
    margin-top: -6px;
    min-width: 24px;    
}

.linkStyle{
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    color: #979797;
}

.linkStyleActive{
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    color: #00A1EF;

}

.activeSign{
    position: absolute;
    width: 4px;
    height: 44px;
    right: 0px;
    top: 0px;

    background: #00A1EF;
    border-radius: 20px 0px 0px 20px;

}
   
.upgradePlan{
    width: 224px;
    height: 281px;
    left: 32px;
    position: absolute;    
    background: linear-gradient(180deg, rgba(183, 233, 255, 0.7) 0%, rgba(136, 169, 255, 0.7) 100%);
    border-radius: 16px;
    padding: 0px;
    margin: 0em;
    
}

.upgradeImg{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;

position: absolute;
width: 200px;
height: 191px;
left: 12px;
top: 32px;
}