.nodeViewCard{
    float: left;
    position: relative;
    width: 50%;
}

.chartsArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  
    height: 100px;
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    
  }

.liveCharts{
    display: flex;
    flex-direction: row;
    gap: 16px;
  
    height: 100%;
    width: 100%;
    font-size: 1rem;
    
    
  }

  .viewCardContainer{
    float: left;
    position: relative;
    width :100%
  }