.cards {
  &__item {
    padding: 40px;
    border: 3px solid $font-color-title;
    border-radius: 34px;
    //@include media-breakpoint-up(sm) {
    //  width: 412px;
    //}
  }


  &__pre_title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(39/24);
  }
  &__title {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 44px;
    line-height: calc(53/44);
  }
  &__after_title {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: calc(29/24);
    color: $font-color-primary;
  }
  &__advantages_item:not(:last-child) {
    margin-bottom: 26px;
  }
  &__advantages_list--left {
    margin-bottom: 50px;
  }
  &__advantages_list--center {
    margin-bottom: 45px;
  }
  &__advantages_list--right {
    margin-bottom: 55px;
  }
  &__advantages_item {
    font-size: 24px;
    line-height: calc(29/24);
    &--dark{

    }
  }
  //&__advantages_item:not(:last-child) {
  //  margin-bottom: 26px;
  //}
  &__link {
    width: 226px;
  }
}
