<li class="cards__item cards__item--left">
  <span class="cards__pre_title">Free</span>
  <h3 class="cards__title cards__title--left">Commercial</h3>
  <p class="cards__after_title">Automation plus enterprise-grade features.</p>
  <ul class="cards__advantages_list cards__advantages_list--left">
    <li class="cards__advantages_item">sdadsadasds</li>
    <li class="cards__advantages_item cards__advantages_item--dark">sdadsadasds</li>
    <li class="cards__advantages_item">sdadsadasds</li>
  </ul>
  <div class="cards__link">
    {% include '@App/components/button/button.twig' with { text: 'Use for free', type: 'link', link: '#', class: 'button button_primary'} %}
  </div>
</li>
