<li class="cards__item cards__item--right">
  <span class="cards__pre_title cards__pre_title--right">Enterprice</span>
  <h3 class="cards__title cards__title">Pro</h3>
  <p>Automation plus enterprise-grade features.</p>
  <ul class="cards__advantages_list cards__advantages_list--right">
    <li class="cards__advantages_item">sdadsadasds</li>
    <li class="cards__advantages_item">sdadsadasds</li>
    <li class="cards__advantages_item">sdadsadasds</li>
  </ul>
  <div class="cards__link">
    {% include '@App/components/button/button.twig' with { text: 'Book a demo', type: 'link', link: '#', class: 'button button_primary button--border'} %}
  </div>
</li>
