<li class="cards__item cards__item--center">
  <p class="cards__pre_title cards__pre_title--center">Most popular</p>
  <div class="cards__price">
    <div>
      <span>$1</span>
      <span>/month</span>
      <span>/1CPU</span>
    </div>
    <div>
      <span>$10</span>
      <span>/cluster</span>
    </div>
  </div>
  <h3 class="cards__title">Company</h3>
  <p>Automation plus enterprise-grade features.</p>
  <ul class="cards__advantages_list cards__advantages_list--center">
    <li class="cards__advantages_item">sdadsadasds</li>
    <li class="cards__advantages_item">sdadsadasds</li>
    <li class="cards__advantages_item">sdadsadasds</li>
  </ul>
  <div class="cards__link">
    {% include '@App/components/button/button.twig' with { text: 'Choose plan', type: 'link', link: '#', class: 'button button_primary'} %}
  </div>
</li>
